{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Update Hops</h1>
                <form class="update_hops" method="POST" action="{% url 'admin_update_plant_data' plant_id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form| crispy }}
            
                    <button class="btn btn-info buttons-click" type="submit" href="{% url 'view_plant_data'  plant_id %}">Done</button>
                    <button class="btn btn-warning buttons-click" href="{% url 'view_plant_data'  plant_id %}">Cancel</button>
                </form>
            </div> 
		</div>
    </div>
{% endblock %}